@import url('https://fonts.googleapis.com/css?family=Signika:300,600');
@import url('https://fonts.googleapis.com/css?family=Rufina:700');

/* Setup */
body {
	font-family: Signika, Helvetica, sans-serif;
	font-weight: 300;
	background-color: #363636;
}

/* Typographie */
h1,
h2,
h3 {
	font-family: Rufina, Times, serif;
	font-weight: 700;
}

h4, h5, h6 {
	font-weight: 600;
	margin-top: 20px;
}

/* Links */
a:hover,
a:focus {
	text-decoration: none;
}

.teaser a:hover,
.teaser a:focus,
footer a:hover,
footer a:focus {
	color: #e6e6e6;
	background-color: #519961;
}

main a,
footer a,
aside button {
	color: #fff;
	background-color: #C6474C;
}

main a::before,
main a::after,
footer a::before,
footer a::after {
	content: '\00a0';
}

.btn-language {
	float: right;
	margin-left: 20px;
}

/* Header */
header {
	background-color: #363636;
	padding: 30px 0 10px;
}

header div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header img {
	margin-bottom: 20px;
}

header a:hover,
header a:focus {
	background-color: #363636;
}

@media (min-width: 992px) {
	header {
		padding: 25px;
	}

	header div {
		justify-content: space-between;
	}

	header img {
		margin-bottom: 0;
	}
}

nav a {
	font-size: 1.3em;
	font-weight: 600;
	color: #e6e6e6;
	border-width: 3px;
	border-style: solid;
	border-color: #363636;
	margin-bottom: 10px;
}

nav a:hover,
nav a:focus {
	border-color: currentColor;
	background-color: #363636;
}

nav li:nth-child(4n) a:hover {
	color: #58A5DA;
}

nav li:nth-child(4n+1) a:hover {
	color: #CC3E8E;
}

nav li:nth-child(4n+2) a:hover {
	color: #C6474C;
}

nav li:nth-child(4n+3) a:hover {
	color: #F4EC49;
}

/* Gradient */
.gradient {
	position: relative;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.74);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.74);
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.74);
}

.gradient-before::before {
	top: 0;
	background: rgba(81, 153, 97, 1);
	background: -moz-linear-gradient(left, rgba(81, 153, 97, 1) 0%, rgba(244, 235, 73, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(204, 62, 142, 1) 75%, rgba(48, 142, 210, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(81, 153, 97, 1)), color-stop(25%, rgba(244, 235, 73, 1)), color-stop(50%, rgba(198, 71, 75, 1)), color-stop(75%, rgba(204, 62, 142, 1)), color-stop(100%, rgba(48, 142, 210, 1)));
	background: -webkit-linear-gradient(left, rgba(81, 153, 97, 1) 0%, rgba(244, 235, 73, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(204, 62, 142, 1) 75%, rgba(48, 142, 210, 1) 100%);
	background: -o-linear-gradient(left, rgba(81, 153, 97, 1) 0%, rgba(244, 235, 73, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(204, 62, 142, 1) 75%, rgba(48, 142, 210, 1) 100%);
	background: -ms-linear-gradient(left, rgba(81, 153, 97, 1) 0%, rgba(244, 235, 73, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(204, 62, 142, 1) 75%, rgba(48, 142, 210, 1) 100%);
	background: linear-gradient(to right, rgba(81, 153, 97, 1) 0%, rgba(244, 235, 73, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(204, 62, 142, 1) 75%, rgba(48, 142, 210, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#519961', endColorstr='#308ed2', GradientType=1);
}

.gradient-after::after {
	bottom: 0;
	background: rgba(48, 142, 210, 1);
	background: -moz-linear-gradient(left, rgba(48, 142, 210, 1) 0%, rgba(204, 62, 142, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(244, 235, 73, 1) 75%, rgba(81, 153, 97, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48, 142, 210, 1)), color-stop(25%, rgba(204, 62, 142, 1)), color-stop(50%, rgba(198, 71, 75, 1)), color-stop(75%, rgba(244, 235, 73, 1)), color-stop(100%, rgba(81, 153, 97, 1)));
	background: -webkit-linear-gradient(left, rgba(48, 142, 210, 1) 0%, rgba(204, 62, 142, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(244, 235, 73, 1) 75%, rgba(81, 153, 97, 1) 100%);
	background: -o-linear-gradient(left, rgba(48, 142, 210, 1) 0%, rgba(204, 62, 142, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(244, 235, 73, 1) 75%, rgba(81, 153, 97, 1) 100%);
	background: -ms-linear-gradient(left, rgba(48, 142, 210, 1) 0%, rgba(204, 62, 142, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(244, 235, 73, 1) 75%, rgba(81, 153, 97, 1) 100%);
	background: linear-gradient(to right, rgba(48, 142, 210, 1) 0%, rgba(204, 62, 142, 1) 25%, rgba(198, 71, 75, 1) 50%, rgba(244, 235, 73, 1) 75%, rgba(81, 153, 97, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#308ed2', endColorstr='#519961', GradientType=1);

}

.gradient-before::before,
.gradient-after::after {
	content: "";
	height: 5px;
	position: absolute;
	left: 0;
	right: 0;
}

/* Main */
main,
aside {
	background-color: #e6e6e6;
	padding: 30px 0;
}

main strong {
	font-weight: 600;
}

aside ul {
	padding-left: 0;
	list-style-type: none;
}

/* Footer */
footer {
	padding: 20px 0 10px;
	text-align: center;
	color: #e6e6e6;
}


/* Main Boxes */
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid>* {
	border-width: 3px;
	border-style: solid;
	padding: 10px 10px 30px;
	position: relative;
}

.grid>:nth-child(4n) {
	border-color: #CC3E8E;
}

.grid>:nth-child(4n) .button {
	background-color: #CC3E8E;
}

.grid>:nth-child(4n):hover .button {
	color: #CC3E8E;
}

.grid>:nth-child(4n+1) {
	border-color: #C6474C;
}

.grid>:nth-child(4n+1) .button {
	background-color: #C6474C;
}

.grid>:nth-child(4n+1):hover .button {
	color: #C6474C;
}

.grid>:nth-child(4n+2) {
	border-color: #58A5DA;
}

.grid>:nth-child(4n+2) .button {
	background-color: #58A5DA;
}

.grid>:nth-child(4n+2):hover .button {
	color: #58A5DA;
}

.grid>:nth-child(4n+3) {
	border-color: #46418E;
}

.grid>:nth-child(4n+3) .button {
	background-color: #46418E;
}

.grid>:nth-child(4n+3):hover .button {
	color: #46418E;
}

.grid .button {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 0;
	border-width: 3px;
	border-right: none;
	border-bottom: none;
}

.grid :hover .button {
	background-color: #e6e6e6;
	border-color: currentColor;
}

/* Aside */

aside a {
	color: #212529;
}

aside a:hover {
	color: #e6e6e6;
}

aside ul>:nth-child(4n):hover {
	background-color: #CC3E8E;
}

aside ul>:nth-child(4n+1):hover {
	background-color: #C6474C;
}

aside ul>:nth-child(4n+2):hover {
	background-color: #58A5DA;
}

aside ul>:nth-child(4n+3):hover {
	background-color: #46418E;
}

/* Google Maps */
iframe {
	width: 100%;
	margin: 40px 0;
}

address {
	font-weight: 600;
}

/* Slider */
.grid-slider {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	margin: 20px 0 40px;
}

#carouselControls {
	margin: 0 10px;
}

@media (min-width: 768px) {
	.grid-slider {
		grid-template-columns: 1fr 60%;
	}
}

#carouselControls a {
	background-color: rgba(0, 0, 0, 0.1);
}

.space-after {
	margin-bottom: 50px;
}

/* Formulare */

label {
	font-weight: 600;
}


/* Images */

.grid-image {
	width: calc(100% + 20px);
	height: 75px;
	object-fit: cover;
	margin: -10px;
	margin-bottom: 10px;
}